Pink Buckle Barrel Racing - Stallion Analysis

In [ ]:
#Asses data

df = pd.read_csv("PB-Futurity-2019-1st-Go.csv",  header = None) # read in the CSV usign the first 4 rows as header and first col as identifier
df.head(30)

Clearly there is some cleaning to be done/ we need to tidy the data, upon inspection of the PDFs there were irregularities in the format results were reported in each year.

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, fnmatch

In [14]:
def expandcolumns_goround(file):
    '''
    INPUT string of path to CSV file converted from PDF of go round results from Pink Buckle Futurity
    Futurity result formatting varies slightly year to year. 
    OUTPUT dataframe containing information relative to a stallion's offspring performance
    '''
    df = pd.read_csv(file,  header = None)
    f = file
    fvals = f.split(sep = '.')
    fvals = fvals[0]
    fvals=fvals.split(sep = '-')
    sex_list = ['Gelding','Mare','Stallion','M','G','S']
    sex_dict = {'G)':'Gelding','M)':'Mare','S)':'Stallion', ' M)':'Mare', 'G':'Gelding'}
    if fvals[2] == '2020':
    #break column 2 into its own data frame, then create tidy data by ensuring each type of "observation" has its own column
        col2 = df.iloc[:,1]
        col2 = col2.str.split (pat = '\r',expand = True)
        dds = (col2.iloc[:,3]).str.split(pat=', ',expand = True)
        acs = ((col2.iloc[:,1]).str.split(pat=' ',expand = True))

        col2 = df.iloc[:,1]
        col2 = col2.str.split (pat = '\r',expand = True)
        dds = (col2.iloc[:,3]).str.split(pat=', ',expand = True)
        dds_header = dds.iloc[0]# Save first row for headers
        dds = dds[1:]
        dds.columns = dds_header
        acs = ((col2.iloc[:,1]).str.split(pat=' ',expand = True))
        acs_header = acs.iloc[0]# acs.iloc[0]# Save first row for headers
        acs.columns = acs_header
        acs=acs[1:]
        # remove columns that have been expaned and concatenate dataframes
        col2 = col2.drop(columns = [1,3])
        col2_header = col2.iloc[0]# Save first row for headers
        col2.columns = col2_header
        col2 = col2[1:]
         # expand column 3 in df the same way as 2 but assign header values
        col3 = (df.iloc[:,2]).str.split(pat='\r', expand = True)

        col3_header = ['Owner1','Owner1_location','Owner2','Owner2_location', 'Rider']
        col3.columns = col3_header
        col3=col3[1:]
        col3=col3['Rider']# We are only using this information for the analysis

        #col4 = (df.iloc[:,3]).str.split(pat='\r', expand = True)
       # col4_header = col4.iloc[0]
       # col4.columns = ['Breeder', 'overflow', 'BreederLoc1', 'BreederLoc1', 'overflow2'] #considering adding overflow to the original columns. IDK how that is going to work. 
       # col4=col4[1:]
        #drop the columns that have been expanded & those not used
        df2 = df.drop(columns = [1,2,3,4,5,6,7])
        df2_header = df2.iloc[0] #promote the first row to headers 
        df2= df2[1:]
        df2.columns = df2_header
        df = pd.concat([col2,dds,acs,col3,df2], axis=1)#concatenate the expanded data
        df['Sex'] = np.where(df.iloc[:,7].notnull(), df.iloc[:,7],df['Sex'])#some of the sex information got pushed into another column using the " " as a delimiter. This moves it back
        #Some entrants did not list color and the sex information was stored in the color field
       
        df['Sex']=np.where(df['Color,'].isin(sex_list), df['Color,'], df['Sex'])
        df = df.rename(columns = {'Color,':'Color'})
        df = df.rename(columns = {'Age,':'Age'})

    elif fvals[2] == '2018' :
        col2 = df.iloc[:,1]
        col2 = col2.str.split (pat = '\r',expand = True)
        horse_age_color_sex = col2.iloc[:,0].str.split(pat = '(', expand = True)
        col2 = col2.drop(columns = [0])
        age_color_sex = horse_age_color_sex.iloc[:,1].str.split(pat='‚Äê', expand = True)
        age_color_sex = age_color_sex[1:]
        horse = horse_age_color_sex.drop(columns = 1)
        horse_head = ['Horse']
        horse=horse[1:]
        horse.columns = horse_head
        acs_header = ['Age', 'Color', 'Sex']
        age_color_sex = age_color_sex.drop(columns = 3)
        age_color_sex.columns = acs_header
        #replace any erroneous sex data that is be in the color column
       # age_color_sex['Sex']=np.where(age_color_sex['Color'].isin(sex_list), age_color_sex['Color'], age_color_sex['Sex'])
        sex_dict = {'G)':'Gelding','M)':'Mare','S)':'Stallion', ' M)':'Mare', 'Bay':'Gelding'} # replace abbreviation with word and brute force change one erroneous point of Bay
        age_color_sex = age_color_sex.replace(to_replace = sex_dict)
        col2_header = col2.iloc[0]# Save first row for headers
        col2.columns = col2_header
        col2 = col2[1:]
       
        col3 = (df.iloc[:,3]).str.split(pat='\r', expand = True)
        col3=col3.drop(columns = 1)
        col3_header = ['Rider']
        col3.columns = col3_header
        col3=col3[1:]
        df2 = df.drop(columns = [1,2,3,4,5,6,])
        df2_header = df2.iloc[0] #promote the first row to headers 
        df2= df2[1:]
        df2.columns = df2_header
        df = pd.concat([horse,age_color_sex,col2,col3,df2], axis=1)#concatenate the expanded data
    else:
        col2 = df.iloc[:,1]# remove the second column to expand
        col2 = col2.str.split(pat = '\r',expand = True)
        dds = col2[2].str.split(pat = ',',expand = True) # split dam and dams sire into separate columns
        dds_header = dds.iloc[0]# Save first row for headers
        dds=dds[1:]
        dds.columns = dds_header
        horse_age_color_sex = col2.iloc[:,0].str.split(pat = '(', expand = True)
        col2 = col2.drop(columns = [0,2])
        horse = horse_age_color_sex.drop(columns = 1)
        horse_head = ['Horse']
        horse=horse[1:]
        horse.columns = horse_head
        age_color_sex = horse_age_color_sex[1]#further break up column 2
        age_color_sex = age_color_sex.str.split(pat='-', expand = True)
        age_color_sex = age_color_sex[1:]
        acs_header = ['Age', 'Color', 'Sex']
        age_color_sex.columns = acs_header
        #replace any erroneous sex data that is be in the color column
        age_color_sex['Sex']=np.where(age_color_sex['Color'].isin(sex_list), age_color_sex['Color'], age_color_sex['Sex'])
      
        age_color_sex = age_color_sex.replace(to_replace = sex_dict)
        
        col2_header = col2.iloc[0]
        col2.columns = col2_header
        col2 = col2[1:]
        col3 = (df.iloc[:,2]).str.split(pat='\r', expand = True) # Expand column 3
        col3_header = ['Rider']
        # rider information was stored in the owner column in 2019 if the owner rode the horse, moving to the rider column
        col3[2] = np.where(col3.iloc[:,2].str.contains(pat = ','), col3.iloc[:,0],col3[2]) #moves owner to rider column if address carried over
        col3[2] = np.where(col3.iloc[:,2].isnull(), col3.iloc[:,0],col3[2]) #moves owner to rider column if there is no data in rider column
        
        col3 = col3.drop(columns = [0,1])
        col3.columns = col3_header
        col3=col3[1:]        
        df2 = df.drop(columns = [1,2,3,4,5,6,])
        df2_header = df2.iloc[0] #promote the first row to headers 
        df2= df2[1:]
        df2.columns = df2_header
        df = pd.concat([horse,age_color_sex,col2,col3,df2], axis=1)#concatenate the expanded data
   
    #remove header information carried over from converting each pafe of PDF files to CSV
    df.drop(df.loc[df['Sire']=='Sire'].index, inplace=True)
    # reset the index then rename index as the round results for that file
    df.reset_index(inplace=True)
       #rename index from 
    f = file
    fvals = f.split(sep = '.')
    fvals = fvals[0]
    fvals=fvals.split(sep = '-')
    indexstring = ' '.join(fvals[3:])
    indexstring = indexstring + ' Place'
    df = df.rename(columns = {'index':indexstring})

    return df

Import all data throg

In [15]:
go1_18 = expandcolumns_goround('PB-Futurity-2018-1st-Go.csv').drop(columns = ['#'])
go2_18 = expandcolumns_goround('PB-Futurity-2018-2nd-Go.csv').drop(columns = ['#'])
pbf_18 = pd.merge(go1_18,go2_18, how = "outer")
#am = pd.merge(go1_18_am,go2_18_am)
#pbf_18=pd.merge(pbf_18, am,how= "outer")
#Eddie S nson is not a unique sire... Lets change that back to Eddie StinJson
replace = {'Eddie S nson':'Eddie Stinson','BHR Frenchie Socks':'BHR Frenchies Socks'}

pbf_18.replace(to_replace = replace, inplace = True)
#change time, placing and year to integers
pbf_18 = pbf_18.astype({'Horse' : 'string', 'Age':'float64', 'Color' : 'string', 'Sex' : 'string', 'Sire' : 'string', 'Dam' : 'string',
       "Dam's Sire":'string', 'Rider' : 'string', '1st Go': 'float64', '2nd Go': 'float64'})
pbf_18['Sire'].str.title()
pbf_18

,1st Go Place,Horse,Age,Color,Sex,Sire,Dam,Dam's Sire,Rider,1st Go,2nd Go Place,2nd Go
0,1.0,French Goodbye,2014.0,Palomino,Gelding,The Goodbye Lane,Two Fools Gold,Frenchmans Guy,Vauna Walker,16.567,5.0,16.936
1,2.0,Jets Letters Ta Abby,2014.0,Sorrel,Gelding,Blazin Jetolena,Real Famous Abby,Dash Ta Fame,Ashley Schafer,16.845,7.0,16.997
2,3.0,Hes Furious,2014.0,Gelding,Gelding,The Goodbye Lane,Furyx,Calyx,Timi Lickley,16.988,8.0,16.998
3,4.0,Jets Heart N Soul,2014.0,Chestnut,Gelding,Blazin Jetolena,Mistys Dash of Fame,Dash Ta Fame,Jolene Montgomery,16.988,2.0,16.818
4,5.0,Our First Goodbye,2013.0,Brown,Mare,The Goodbye Lane,Jesse James Agent,Jesse James Jr,Marcie Wilson,17.005,66.0,22.455
...,...,...,...,...,...,...,...,...,...,...,...,...
72,77.0,Patches O Houlihan,2013.0,Gelding,Mare,PC Redwood Manny,Patchs April Gem,Tiny Patch,Kelsey Hayden,30.174,52.0,18.380
73,78.0,HP Dash Ta Fiesta *PBS,2013.0,Sorrel,Stallion,Dash Ta Fame,Firewater Fiesta,Fire Water Flit,Ryann Pedone,999.000,30.0,17.459
74,79.0,Dats A Gin Fizz,2013.0,Chestnut,Mare,Dats A Frenchman,Regal Ginnie,Regal Legacy,Kelli Barichello,999.000,79.0,999.000
75,80.0,Flit To Be Famous,2014.0,Sorrel,Gelding,Eddie Stinson,Pepoleo Flit,Fire Water Flit,Chelsea Jepperson,999.000,80.0,999.000
76,NaN,Justa Kool Guy,2014.0,Sorrel,Gelding,BHR Frenchies Socks,Justa Sexy Woman,Dashin Is Easy,Emilee Jackson,NaN,42.0,17.818

In [16]:
go1_19 = expandcolumns_goround('PB-Futurity-2019-1st-Go.csv')
go2_19 = expandcolumns_goround('PB-Futurity-2019-2nd-Go.csv').drop(columns = ['Horse', 'Age', 'Color', 'Sex', 'Sire', 'Rider'])


pbf_19 = pd.merge(go1_19,go2_19, how ="outer")

pbf_19.dtypes
#change time, placing and year to integers
pbf_19 = pbf_19.astype({'Horse' : 'string', 'Age':'int64', 'Color' : 'string', 'Sex' : 'string', 'Sire' : 'string',
        'Rider' : 'string', '1st Go': 'float64', '2nd Go': 'float64'})

In [49]:
go1_20 = expandcolumns_goround('PB-Futurity-2020-1st-Go.csv')
go2_20 = expandcolumns_goround('PB-Futurity-2020-2nd-Go.csv').drop(columns = ['Horse', 'Age', 'Color', 'Sex','Rider', 'Sire', 'Dam', "Dam's Sire"])
pbf_20 = pd.merge(go1_20,go2_20, on ='#').drop(columns = ['None_x','None_y'])
#change time, placing and year to integers
pbf_20 = pbf_20.astype({'Horse' : 'string', 'Age':'float64', 'Color' : 'string', 'Sex' : 'string', 'Sire' : 'string', 'Dam' : 'string',
       "Dam's Sire":'string', 'Rider' : 'string', '1st Go': 'float64', '2nd Go': 'float64'})

,1st Go Place,Horse,Sire,Dam,Dam's Sire,Age,Color,Sex,Rider,#,1st Go,2nd Go Place,2nd Go
0,1,VF Cream Rises,Eddie Stinson,Curiocity Corners,Silver Lucky Buck,2016.0,Sorrel,Mare,Kelsey Treharne,13,17.067,183,30.653
1,2,KN Snap Back,Eddie Stinson,KN Hanks Design,Designer Red,2016.0,Mare,Mare,Caroline Boucher,186,17.070,3,17.092
2,3,The Right Version,Winners Version,The Right Life,Dash To Chivato,2015.0,Gray,Mare,McKinlee Kellett,163,17.102,27,17.511
3,4,Makana,Slick By Design,Rods Last Ladybug,Sharp Rodney,2015.0,Sorrel,Mare,Lindsey McLeod,18,17.125,12,17.259
4,5,CBC Speeding Goodbye,The Goodbye Lane,Speeding Streaker,Mitbeastreaker,2016.0,Sorrel,Gelding,Vauna Walker,89,17.151,6,17.131
5,6,MJ Night Train Lane,The Goodbye Lane,Moment of Pursuit,Dash Ta Fame,2015.0,Brown,Gelding,Marcie Wilson,142,17.180,10,17.243
6,7,MJ Lola Lane,The Goodbye Lane,Pappys Fools Ta Fame,Easy Illusion,2015.0,Chesnut,Mare,Marcie Wilson,83,17.208,13,17.284
7,8,Boonstreakincolours,Streakin Boon Dox,Frenchmans Colours,Hot Colours,2015.0,Bay,Gelding,Ashley Schafer,1,17.214,155,22.304
8,9,Slicks Famous Design,Slick By Design,Dasharuth,Dash Ta Fame,2016.0,Black,Mare,Jana Bean,148,17.235,15,17.345
9,10,Blazing With My Dude,Blazin Jetolena,Dasher Dude,Texas High Dasher,2015.0,Sorrel,Mare,Sue Smith,177,17.274,48,17.687
10,11,In The Nick A Time,Blazin Jetolena,Rollin Nickie,As Good As Nick Gets,2016.0,Sorrel,Mare,<NA>,119,17.281,37,17.583
11,12,Sizzlinpressure Onme,No Pressure On Me,Sweet Sizzlin Chick,SC Chiseled In Stone,2016.0,Sorrel,Gelding,Craig Brooks,40,17.287,57,17.777
12,13,Hanks Slick Design,Slick By Design,Thiefs Of Diamonds,Doc O Dynamite,2015.0,Bay,Gelding,Kristy Yerrington,100,17.288,2,17.085
13,14,Crewszin,Tres Seis,Ohmigosh,Shazoom,2015.0,Bay,Gelding,<NA>,167,17.288,8,17.198
14,15,Toast Ur Socks Off,BHR Frenchies Socks,Toast Your Bug,Raise Your Glass,2016.0,Sorrel,Mare,Molli Montgomery,20,17.307,89,17.995
15,16,Goodbye Lane Seis,The Goodbye Lane,Lady Tres Seis,Tres Seis,2016.0,Sorrel,Gelding,Vauna Walker,184,17.310,4,17.115
16,18,SBW Copy Cat,Blazin Jetolena,SX Dr Peacharita,Dr Nick Bar,2016.0,Sorrel,Gelding,Brian Wheeler,70,17.322,150,22.062
17,19,So Im A Slick Guy,Slick By Design,Special French Girl,Frenchmans Chico,2016.0,Bay,Gelding,Troy Crumrine,88,17.326,9,17.226
18,20,Bellas Bag Of Bones,The Goodbye Lane,GW Lily Belle,Society Road,2015.0,Bay,Gelding,McKale Hadley,161,17.333,145,20.429
19,21,Guys Im A Bunny Cat,Traffic Guy,Firewater Scat Cat,Alive N Firen,2016.0,Bay,Gelding,Jimmie Smith,138,17.348,198,999.000

print(pbf_18.Horse.value_counts())
print (pbf_18.Sex.value_counts())

#Determine which sires had offspring in the futurity, and the number of entries. 
sire_18 = pbf_18.Sire.value_counts()
sire_19 = pbf_19.Sire.value_counts()
sire_20 = pbf_20.Sire.value_counts()
print (sire_18)
print(sire_19)
print(sire_20)

# plot 1 
plt.subplot(3,1,1)
sire_18.plot(kind="bar", color="C6")
plt.title("2018 Number of Futurity Entries per sire")
#plot 2 sire
plt.subplot(3,1,2)
sire_19.plot(kind="bar", color="C6")
plt.title("2019 Number of Futurity Entries per sire")
#plot 3
plt.subplot(3,1,3)
sire_20.plot(kind="bar", color="C6")
plt.title("2020 Number of Futurity Entries per sire")

df = pbf_20
df['Rider'].value_counts()

sex = df.Sex.value_counts()
sex.plot(kind="pie"), plt.title("Entrants Sex Breakdown")
#fig.savefig(‚Äùmy-first-figure.png‚Äù, dpi=300)

In [20]:
'''Payouts are based on Divisions which are a set time period off the fastest time.  This is called a D.  
We will assign a D to each horse per run for each year.  Later this will be helpful to see if any particular sire's offspring
are more likely to be in any particular division, we will also allocate the first 20 horses in both Ds as money winners per the curtent payout format'''

def AssignDs(df, colstring1, new_col_name):
    '''
    assign D's based on division split, and give the first 20 horses in each D the status of "Money Winner"
    Input: df = Dataframe, 
    colstring1 = String - the time column on the data frame to be placing D's in.
    new_col_name = String - the column name the Ds will be placed in
    output: adds column placeing horse in 1D or 2D
    '''
    D_split = 0.75 # D split for the PB futurity and Derby
    df[new_col_name]= np.where(df[colstring1] > (df[colstring1].min()+D_split), 2, 1)
    
    place_col_name = 'colstring1'+' Place' #create a value to pull the money winners by placing
    df['Money_Winner'] = np.where(df['place_col_name']<= 20, 1,0) #calls out money winners in 1D
    df.sort_values('colstring1', inplace = True) #sort so we can call the 2D winner index  
    two_d = df[df['new_col_name'] > 1].index[0] #get the next 20 places, 
    df.iloc[two_d:(two_d+19),df.columns.get_loc('Money_Winner')] = 1 #assign 1 for money winner
    return df

In [50]:
pbf_18 = AssignDs(pbf_18, '1st Go', '1stGoD')
pbf_19 = AssignDs(pbf_19, '1st Go', '1stGoD')
pbf_20 = AssignDs(pbf_20, '1st Go', '1stGoD')
pbf_18 = AssignDs(pbf_18, '2nd Go', '2ndGoD')
pbf_19 = AssignDs(pbf_19, '2nd Go', '2ndGoD')
pbf_20 = AssignDs(pbf_20, '2nd Go', '2ndGoD')

,1st Go Place,Horse,Age,Color,Sex,Sire,Dam,Dam's Sire,Rider,1st Go,2nd Go Place,2nd Go,1stGoD,2ndGoD,Money_Winner,1D_Money_Winner
0,1.0,French Goodbye,2014.0,Palomino,Gelding,The Goodbye Lane,Two Fools Gold,Frenchmans Guy,Vauna Walker,16.567,5.0,16.936,1,1,1,1
1,2.0,Jets Letters Ta Abby,2014.0,Sorrel,Gelding,Blazin Jetolena,Real Famous Abby,Dash Ta Fame,Ashley Schafer,16.845,7.0,16.997,1,1,1,1
2,3.0,Hes Furious,2014.0,Gelding,Gelding,The Goodbye Lane,Furyx,Calyx,Timi Lickley,16.988,8.0,16.998,1,1,1,1
3,4.0,Jets Heart N Soul,2014.0,Chestnut,Gelding,Blazin Jetolena,Mistys Dash of Fame,Dash Ta Fame,Jolene Montgomery,16.988,2.0,16.818,1,1,1,1
4,5.0,Our First Goodbye,2013.0,Brown,Mare,The Goodbye Lane,Jesse James Agent,Jesse James Jr,Marcie Wilson,17.005,66.0,22.455,1,2,1,1
5,6.0,High Cotton Lane,2014.0,Chestnut,Stallion,The Goodbye Lane,HMB Soon Tobe Famous,Dash Ta Fame,Paige Jones,17.021,3.0,16.829,1,1,1,1
6,7.0,NB Ladybird,2014.0,Gray,Mare,Shawne Bug Leo,TR Dashing Badger,Mr Illuminator,Kenna Squires,17.050,11.0,17.087,1,1,1,1
7,8.0,Streakin French Star,2014.0,Buckskin,Gelding,Streakin Boon Dox,French Stars,Frenchmans Guy,Ashley Schafer,17.091,14.0,17.166,1,1,1,1
8,9.0,Positively Streakin,2014.0,Bay Roan,Mare,Streakin Boon Dox,Positively A Coyote,Coyote Colonel,Ashley Schafer,17.117,15.0,17.208,1,1,1,1
9,10.0,Mr Elegant Shawne,2014.0,Sorrel,Mare,Shawne Bug Leo,Elegant Seis,Tres Seis,Jacque Woolman,17.153,10.0,17.076,1,1,1,1
10,11.0,Streakin and Shaken,2014.0,Gray,Gelding,Streakin Boon Dox,Shaken Tornado,Royal Shake Em,Ashley Schafer,17.179,70.0,22.930,1,2,1,1
11,12.0,Laced With Talent,2013.0,Gelding,Mare,Prime Talent,Just Suede,Feature Mr Jess,June Tibbits,17.300,32.0,17.503,1,1,1,1
12,13.0,Smooth Movin Guy,2014.0,Buckskin,Gelding,A Smooth Guy,Full A Irish Whiskey,Paddys Irish Whiskey,Dustin Angelle,17.305,4.0,16.838,1,1,1,1
13,14.0,Slingshot Lane,2013.0,Gelding,Mare,The Goodbye Lane,SKS Running Faucet,Diamond Faucet,Marcie Wilson,17.340,26.0,17.431,2,1,1,1
14,15.0,Nickies Private Jet,2013.0,Sorrel,Mare,Blazin Jetolena,Rollin Nickie,As Good As Nick Gets,Jana Beam‚ÄêBrown,17.353,61.0,22.148,2,2,1,1
15,16.0,JLR One Slick Guy,2013.0,Brown,Gelding,Slick By Design,Famous French Lady,Frenchmans Guy,Jana L Riley,17.412,6.0,16.988,2,1,1,1
16,17.0,Buhbye,2014.0,Gelding,Mare,The Goodbye Lane,Patchs April Gem,Tiny Patch,Kelsey Hayden,17.416,31.0,17.499,2,1,1,1
17,18.0,VF Wheely Famous,2014.0,Gray,Gelding,Eddie Stinson,Wheely Quick,The Harder They Fall,Carina Morris,17.417,22.0,17.406,2,1,1,1
18,20.0,Shesamityslickdesign,2014.0,Buckskin,Mare,Slick By Design,Lenas Hardly Smokin,Smokeys Gray,Mary Burger,17.452,20.0,17.370,2,1,1,1
19,21.0,Fortunate Fame,2014.0,Chestnut,Mare,Eddie Stinson,French Fortunes,Frenchmans Guy,Jacie Etbauer,17.522,33.0,17.561,2,2,1,0
20,22.0,Steakinwithmysockson,2013.0,Gelding,Mare,BHR Frenchies Socks,Florida Cyclone,Runaway Colors,Austyn Tobey,17.528,23.0,17.411,2,1,1,0

In [51]:
#Concatenate all 3 years results into one dataframe
pbf = pd.concat([pbf_18, pbf_19,pbf_20])
pbf['Sire'] = pbf['Sire'].str.upper() # move all words to upper case to join with 2021 stud fee info from Qstallions.com
pbf.head()

,1st Go Place,Horse,Age,Color,Sex,Sire,Dam,Dam's Sire,Rider,1st Go,2nd Go Place,2nd Go,1stGoD,2ndGoD,Money_Winner,1D_Money_Winner,#
0,1.0,French Goodbye,2014.0,Palomino,Gelding,THE GOODBYE LANE,Two Fools Gold,Frenchmans Guy,Vauna Walker,16.567,5.0,16.936,1,1,1.0,1.0,NaN
1,2.0,Jets Letters Ta Abby,2014.0,Sorrel,Gelding,BLAZIN JETOLENA,Real Famous Abby,Dash Ta Fame,Ashley Schafer,16.845,7.0,16.997,1,1,1.0,1.0,NaN
2,3.0,Hes Furious,2014.0,Gelding,Gelding,THE GOODBYE LANE,Furyx,Calyx,Timi Lickley,16.988,8.0,16.998,1,1,1.0,1.0,NaN
3,4.0,Jets Heart N Soul,2014.0,Chestnut,Gelding,BLAZIN JETOLENA,Mistys Dash of Fame,Dash Ta Fame,Jolene Montgomery,16.988,2.0,16.818,1,1,1.0,1.0,NaN
4,5.0,Our First Goodbye,2013.0,Brown,Mare,THE GOODBYE LANE,Jesse James Agent,Jesse James Jr,Marcie Wilson,17.005,66.0,22.455,1,2,1.0,1.0,NaN

In [75]:
df = pbf.pivot_table(
    index = ['Sire','Horse'],
    values = ['1st Go','2nd Go','1st Go Place', '2nd Go Place','1stGoD','2ndGoD','Money_Winner'] 
)


df['1D Horse']=(df[df == 1].sum(axis = 1)) #assigns a value of 1 for each run a horse had <.75 seconds off the fastest time in their year

#df18 = bf_18.groupby(by = ['Sire']).mean()
#pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=[np.mean,len])
#'

'''Tipped barrels were considered no time at this event and assigned a time of 999.00 for the round. 
Including this in the average will unfairly weight the times in favor of those whose offspring did not tip a barrel.
This should not fault the horse as it could easily be rider error.  Being the results have no way of indicating a horse did not make a run 
and took a no time or if they tipped all 3 barrels, no times were not included in the average. 
    '''
    
df['Tipped'] = (df[df == 999.000].sum(axis = 1))

df.replace(to_replace = {'Tipped': {999.0 : 1, 1998.0 : 2}}, inplace = True)
tipcount = df.groupby(['Sire']).sum()
oneDcount = df.groupby(['Sire'])




(df.replace(to_replace =  {999.0 :np.nan}, inplace = True)) #remove 999.00 to become nan so they aren't included in the average time
df = df.dropna(subset=['1st Go', '2nd Go']) #remove any horse that had no time for both go's

siredata['total_offspring'] = df.groupby(['Sire']).size()

siredata.head(30)

,1st Go,1st Go Place,1stGoD,2nd Go,2nd Go Place,2ndGoD,Money_Winner,1D Horse,Tipped,total_offspring
Sire,,,,,,,,,,
A SMOOTH GUY,18.871968,84.806452,1.741935,19.048581,88.451613,1.806452,0.285714,0.516129,0.0,31
BHR FRENCHIES SOCKS,19.067304,81.434783,1.760870,18.868304,75.130435,1.630435,0.200000,0.652174,0.0,23
BLAZIN JETOLENA,18.612400,66.628571,1.571429,19.744057,82.114286,1.714286,0.571429,0.857143,0.0,35
BORN TA BE FAMOUS,20.107200,96.700000,1.800000,19.592600,84.900000,1.900000,0.000000,0.300000,0.0,10
CARRIZZO,22.609000,139.000000,2.000000,28.651000,156.000000,2.000000,NaN,0.000000,0.0,1
CONFEDERATE LEADER,17.914000,73.000000,2.000000,18.286000,101.000000,2.000000,NaN,0.000000,0.0,1
CORONA CARTEL,17.963000,77.000000,2.000000,17.655000,49.000000,1.000000,NaN,1.000000,0.0,1
DASH TA FAME,17.601000,25.000000,2.000000,17.846000,43.000000,2.000000,1.000000,1.000000,0.0,1
DASHIN DYNAMO,18.779000,88.833333,1.833333,17.960500,74.333333,1.833333,NaN,0.333333,0.0,6
DASHING GUY,18.579000,115.500000,2.000000,18.676500,127.500000,2.000000,NaN,0.000000,0.0,2
DATS A FRENCHMAN,17.827000,67.000000,2.000000,17.561000,33.000000,1.000000,NaN,1.000000,0.0,1
EDDIE STINSON,18.654727,61.787879,1.636364,19.488333,72.090909,1.545455,0.400000,0.969697,0.0,33
FIREWATER CANYON,19.127545,108.545455,1.818182,18.659545,90.636364,1.909091,NaN,0.272727,0.0,11
FRENCHMANS GUY,22.390000,66.000000,2.000000,17.153000,13.000000,1.000000,0.000000,1.000000,0.0,1
FURYOFTHEWIND,19.499000,96.000000,1.666667,20.506583,92.083333,1.583333,NaN,0.750000,0.0,12
GUYS EYE PAINT,17.875000,75.000000,2.000000,18.038000,94.000000,2.000000,NaN,0.000000,0.0,1
IRISH PAY,19.812000,85.615385,1.923077,19.486077,86.846154,1.846154,0.166667,0.307692,0.0,13
JESSES TOPAZ,23.882000,183.000000,2.000000,18.639000,132.000000,2.000000,NaN,0.000000,0.0,1
JL SIROCCO,17.800500,64.000000,1.500000,18.376000,89.500000,1.500000,NaN,1.000000,0.0,2
LEAD THE FIELD,17.988000,82.000000,2.000000,18.476000,110.000000,2.000000,NaN,0.000000,0.0,1
MP JET TO THE SUN,18.335667,95.000000,1.833333,18.292167,84.833333,1.833333,NaN,0.333333,0.0,6
NO PRESSURE ON ME,17.972500,78.500000,1.500000,18.346333,77.500000,1.666667,NaN,0.833333,0.0,6
ONE FAMOUS EAGLE,21.158500,130.500000,2.000000,18.623000,106.500000,2.000000,NaN,0.000000,0.0,2
PC REDWOOD MANNY,20.758111,114.333333,2.000000,18.905000,96.222222,2.000000,0.000000,0.000000,0.0,9
PG DRY FIRE,18.267200,91.800000,1.800000,19.489200,113.800000,2.000000,NaN,0.200000,0.0,5
PRIME TALENT,17.918000,55.666667,1.833333,18.528833,58.500000,1.500000,1.000000,1.166667,0.0,6
PYC PAINT YOUR WAGON,20.876571,94.142857,2.000000,19.105000,59.000000,1.571429,0.000000,0.428571,0.0,7
SHAWNE BUG LEO,18.717136,71.454545,1.681818,19.150182,77.136364,1.727273,0.500000,0.727273,0.0,22
SLICK BY DESIGN,18.818794,81.808824,1.691176,18.653985,69.720588,1.573529,0.285714,0.779412,0.0,68
STREAKIN BOON DOX,17.305857,19.857143,1.000000,18.997571,63.428571,1.571429,1.000000,1.857143,0.0,7

import matplotlib.cm as cm

x = df['1st Go']
y = df['2nd Go']
#colors = cm.nipy_spectral(df['Sires'])
plt.scatter(x, y,) 
plt.show()

In [59]:
#move totals to the dataframe of average times
siredata['Total_no-times'] = tipcount['Tipped']
siredata['1D Horse'] = tipcount['1D Horse']
siredata['Money_Winner'] = tipcount['Money_Winner']
#siredata['Remove tipped'] = 
siredata.head(50)
siredata['Adj Average_Time'] = ((df.groupby(['Sire']).mean()).loc[:,['1st Go','2nd Go']]).sum(axis = 1) #caluclates the sum of the (average 1st Go and second go for all offspring 
siredata['Adj Average_placing'] = ((df.groupby(['Sire']).mean()).loc[:,['1st Go Place','2nd Go Place']]).mean(axis = 1)

siredata['Average_Time'] = (siredata.loc[:,['1st Go','2nd Go']]).sum(axis = 1) #caluclates the sum of the (average 1st Go and second go for all offspring 
siredata.rename(columns = {'Tipped':'Normalized_penalties'}, inplace = True)
siredata['Average_placing'] = (siredata.loc[:,['1st Go Place','2nd Go Place']]).mean(axis = 1)
siredata.sort_values(by = ['Adj Average_Time', 'Total_no-times'] ,ascending=True, inplace=True)

#siredata['No-time runs (%)'].multiply(100, axis = 1)
#filter out tipped barrels & replace with an average.  Then view data
siredata['pct1D']= 100*(siredata['1D Horse']/siredata['total_offspring'])
siredata['pctMoneyWinners'] = 100*(siredata['Money_Winner']/siredata['total_offspring'])
siredata

,1st Go,1st Go Place,1stGoD,2nd Go,2nd Go Place,2ndGoD,Money_Winner,1D Horse,Normalized_penalties,total_offspring,Total_no-times,Total Money Winners,Adj Average_Time,Adj Average_placing,Average_Time,Average_placing,pct1D,pctMoneyWinners
Sire,,,,,,,,,,,,,,,,,,
DATS A FRENCHMAN,671.942333,114.666667,2.000000,671.853667,102.666667,1.666667,0.0,1.0,1.333333,3,4.0,0.0,35.388000,50.000000,1343.796000,108.666667,33.333333,0.000000
DASH TA FAME,508.300500,51.500000,2.000000,17.652500,36.500000,1.500000,1.0,2.0,0.500000,2,1.0,1.0,35.447000,34.000000,525.953000,44.000000,100.000000,0.500000
WINNERS VERSION,508.335000,127.500000,1.750000,508.453250,134.000000,1.750000,0.0,2.0,1.000000,4,4.0,0.0,35.576500,64.250000,1016.788250,130.750000,50.000000,0.000000
CORONA CARTEL,17.963000,77.000000,2.000000,17.655000,49.000000,1.000000,0.0,1.0,0.000000,1,0.0,0.0,35.618000,63.000000,35.618000,63.000000,100.000000,0.000000
GUYS EYE PAINT,17.875000,75.000000,2.000000,18.038000,94.000000,2.000000,0.0,0.0,0.000000,1,0.0,0.0,35.913000,84.500000,35.913000,84.500000,0.000000,0.000000
JL SIROCCO,17.800500,64.000000,1.500000,18.376000,89.500000,1.500000,0.0,2.0,0.000000,2,0.0,0.0,36.176500,76.750000,36.176500,76.750000,100.000000,0.000000
CONFEDERATE LEADER,17.914000,73.000000,2.000000,18.286000,101.000000,2.000000,0.0,0.0,0.000000,1,0.0,0.0,36.200000,87.000000,36.200000,87.000000,0.000000,0.000000
STREAKIN BOON DOX,344.664250,79.000000,1.416667,427.331917,108.166667,1.750000,3.0,13.0,0.750000,12,9.0,3.0,36.303429,41.642857,771.996167,93.583333,108.333333,0.250000
NO PRESSURE ON ME,17.972500,78.500000,1.500000,18.346333,77.500000,1.666667,0.0,5.0,0.000000,6,0.0,0.0,36.318833,78.000000,36.318833,78.000000,83.333333,0.000000
PRIME TALENT,263.188500,89.750000,1.875000,263.646625,91.625000,1.625000,3.0,7.0,0.500000,8,4.0,3.0,36.446833,57.083333,526.835125,90.687500,87.500000,0.375000
LEAD THE FIELD,17.988000,82.000000,2.000000,18.476000,110.000000,2.000000,0.0,0.0,0.000000,1,0.0,0.0,36.464000,96.000000,36.464000,96.000000,0.000000,0.000000
MP JET TO THE SUN,18.335667,95.000000,1.833333,18.292167,84.833333,1.833333,0.0,2.0,0.000000,6,0.0,0.0,36.627833,89.916667,36.627833,89.916667,33.333333,0.000000
DASHIN DYNAMO,18.779000,88.833333,1.833333,17.960500,74.333333,1.833333,0.0,2.0,0.000000,6,0.0,0.0,36.739500,81.583333,36.739500,81.583333,33.333333,0.000000
THE GOODBYE LANE,18.334375,58.708333,1.562500,59.446625,67.187500,1.520833,8.0,54.0,0.041667,48,2.0,8.0,36.963457,60.967391,77.781000,62.947917,112.500000,0.166667
DASHING GUY,18.579000,115.500000,2.000000,18.676500,127.500000,2.000000,0.0,0.0,0.000000,2,0.0,0.0,37.255500,121.500000,37.255500,121.500000,0.000000,0.000000
SLICK BY DESIGN,60.234901,86.577465,1.704225,60.077056,74.915493,1.591549,2.0,53.0,0.084507,71,6.0,2.0,37.472779,75.764706,120.311958,80.746479,74.647887,0.028169
TRES SEIS,116.747750,93.200000,1.650000,166.140900,99.800000,1.700000,0.0,13.0,0.250000,20,5.0,0.0,37.642765,81.323529,282.888650,96.500000,65.000000,0.000000
PG DRY FIRE,18.267200,91.800000,1.800000,19.489200,113.800000,2.000000,0.0,1.0,0.000000,5,0.0,0.0,37.756400,102.800000,37.756400,102.800000,20.000000,0.000000
FIREWATER CANYON,169.877154,121.923077,1.846154,94.003385,96.461538,1.923077,0.0,3.0,0.230769,13,3.0,0.0,37.787091,99.590909,263.880538,109.192308,23.076923,0.000000
SHAWNE BUG LEO,18.909957,74.956522,1.695652,61.752348,81.130435,1.739130,3.0,16.0,0.043478,23,1.0,3.0,37.867318,74.295455,80.662304,78.043478,69.565217,0.130435
A SMOOTH GUY,49.500969,88.312500,1.750000,49.672063,91.781250,1.812500,2.0,16.0,0.062500,32,2.0,2.0,37.920548,86.629032,99.173031,90.046875,50.000000,0.062500
BHR FRENCHIES SOCKS,59.897833,85.000000,1.770833,59.707125,78.916667,1.645833,1.0,15.0,0.083333,24,2.0,1.0,37.935609,78.282609,119.604958,81.958333,62.500000,0.041667
EDDIE STINSON,124.638000,72.459459,1.675676,72.341054,75.189189,1.567568,4.0,33.0,0.162162,37,6.0,4.0,38.143061,66.939394,196.979054,73.824324,89.189189,0.108108
BLAZIN JETOLENA,94.023333,75.564103,1.615385,120.180564,90.564103,1.743590,4.0,30.0,0.179487,39,7.0,4.0,38.356457,74.371429,214.203897,83.064103,76.923077,0.102564
IRISH PAY,19.812000,85.615385,1.923077,19.486077,86.846154,1.846154,1.0,4.0,0.000000,13,0.0,1.0,39.298077,86.230769,39.298077,86.230769,30.769231,0.076923
FRENCHMANS GUY,22.390000,66.000000,2.000000,17.153000,13.000000,1.000000,0.0,1.0,0.000000,1,0.0,0.0,39.543000,39.500000,39.543000,39.500000,100.000000,0.000000
PC REDWOOD MANNY,118.582300,119.900000,2.000000,19.269800,100.400000,2.000000,0.0,0.0,0.100000,10,1.0,0.0,39.663111,105.277778,137.852100,110.150000,0.000000,0.000000
BORN TA BE FAMOUS,20.370545,101.272727,1.818182,108.629636,92.000000,1.909091,0.0,3.0,0.090909,11,1.0,0.0,39.699800,90.800000,129.000182,96.636364,27.272727,0.000000
ONE FAMOUS EAGLE,21.426667,131.333333,2.000000,345.415333,124.000000,2.000000,0.0,0.0,0.333333,3,1.0,0.0,39.781500,118.500000,366.842000,127.666667,0.000000,0.000000
PYC PAINT YOUR WAGON,20.876571,94.142857,2.000000,19.105000,59.000000,1.571429,0.0,3.0,0.000000,7,0.0,0.0,39.981571,76.571429,39.981571,76.571429,42.857143,0.000000
FURYOFTHEWIND,19.453308,98.153846,1.692308,95.775308,97.153846,1.615385,0.0,9.0,0.076923,13,1.0,0.0,40.005583,94.041667,115.228615,97.653846,69.230769,0.000000
TRAFFIC GUY,20.564000,116.666667,1.666667,345.913833,129.166667,1.833333,0.0,3.0,0.333333,6,2.0,0.0,41.498000,126.750000,366.477833,122.916667,50.000000,0.000000
JESSES TOPAZ,23.882000,183.000000,2.000000,18.639000,132.000000,2.000000,0.0,0.0,0.000000,1,0.0,0.0,42.521000,157.500000,42.521000,157.500000,0.000000,0.000000
CARRIZZO,510.804500,169.500000,2.000000,513.825500,177.500000,2.000000,0.0,0.0,1.000000,2,2.0,0.0,51.260000,147.500000,1024.630000,173.500000,0.000000,0.000000
AS GOOD AS NICK GETS,999.000000,195.000000,2.000000,999.000000,194.000000,2.000000,0.0,0.0,2.000000,1,2.0,0.0,NaN,NaN,1998.000000,194.500000,0.000000,0.000000

Now lets read in the stud fees,  and see if there is any correlation to the placings.  We will also eliminate any sires whose offspring from the 2021 breeding season are no longer eligible for the competition.

In [ ]:
df_sires = pd.read_csv('PB_Sires_2021_Fees.csv')
sire_fees=df_sires.iloc[:,[0,5]] #drop columns with information that are not to be used in our anaylisis
df2 = pd.merge(siredata, sire_fees, on = 'Sire', how = 'outer')
df2.columns

In [ ]:
df2 = df2.drop(columns = (['1st Go', '1st Go Place', '1stGoD', '2nd Go', '2nd Go Place',
       '2ndGoD']))

In [ ]:
#display(df2)
no_entries = (df2['1D Horse'].isna()).sum() # count the number of 2021 sires who have had not had offspring compete
no_entries
ineligible = (df2['Fee'].isna()).sum()
print('{} Sires have not had any offspring run in the Futurity, {} sires are no longer eligible as of the 2021 breeding season'.format(no_entries, ineligible))
df2.head(62)

In [ ]:
df2 = df2.dropna(subset=['Fee', '1D Horse'])
df2.shape

In [ ]:
df2.sort_values(by = ['total_offspring'],ascending=False)
df2.sort_values(by = ['pct1D'],ascending=False)

df2.sort_values(by = ['Adj Average_placing'],ascending=True)

In [ ]:
df2.shape

In [60]:
#create plots of avg time by sire (box)

In [67]:
df3 = pbf.groupby('Sex')
df3.head()

,1st Go Place,Horse,Age,Color,Sex,Sire,Dam,Dam's Sire,Rider,1st Go,2nd Go Place,2nd Go,1stGoD,2ndGoD,Money_Winner,1D_Money_Winner,#
0,1.0,French Goodbye,2014.0,Palomino,Gelding,THE GOODBYE LANE,Two Fools Gold,Frenchmans Guy,Vauna Walker,16.567,5.0,16.936,1,1,1.0,1.0,NaN
1,2.0,Jets Letters Ta Abby,2014.0,Sorrel,Gelding,BLAZIN JETOLENA,Real Famous Abby,Dash Ta Fame,Ashley Schafer,16.845,7.0,16.997,1,1,1.0,1.0,NaN
2,3.0,Hes Furious,2014.0,Gelding,Gelding,THE GOODBYE LANE,Furyx,Calyx,Timi Lickley,16.988,8.0,16.998,1,1,1.0,1.0,NaN
3,4.0,Jets Heart N Soul,2014.0,Chestnut,Gelding,BLAZIN JETOLENA,Mistys Dash of Fame,Dash Ta Fame,Jolene Montgomery,16.988,2.0,16.818,1,1,1.0,1.0,NaN
4,5.0,Our First Goodbye,2013.0,Brown,Mare,THE GOODBYE LANE,Jesse James Agent,Jesse James Jr,Marcie Wilson,17.005,66.0,22.455,1,2,1.0,1.0,NaN
5,6.0,High Cotton Lane,2014.0,Chestnut,Stallion,THE GOODBYE LANE,HMB Soon Tobe Famous,Dash Ta Fame,Paige Jones,17.021,3.0,16.829,1,1,1.0,1.0,NaN
6,7.0,NB Ladybird,2014.0,Gray,Mare,SHAWNE BUG LEO,TR Dashing Badger,Mr Illuminator,Kenna Squires,17.050,11.0,17.087,1,1,1.0,1.0,NaN
7,8.0,Streakin French Star,2014.0,Buckskin,Gelding,STREAKIN BOON DOX,French Stars,Frenchmans Guy,Ashley Schafer,17.091,14.0,17.166,1,1,1.0,1.0,NaN
8,9.0,Positively Streakin,2014.0,Bay Roan,Mare,STREAKIN BOON DOX,Positively A Coyote,Coyote Colonel,Ashley Schafer,17.117,15.0,17.208,1,1,1.0,1.0,NaN
9,10.0,Mr Elegant Shawne,2014.0,Sorrel,Mare,SHAWNE BUG LEO,Elegant Seis,Tres Seis,Jacque Woolman,17.153,10.0,17.076,1,1,1.0,1.0,NaN
11,12.0,Laced With Talent,2013.0,Gelding,Mare,PRIME TALENT,Just Suede,Feature Mr Jess,June Tibbits,17.300,32.0,17.503,1,1,1.0,1.0,NaN
21,23.0,Uno Mas Goodbye,2013.0,Brown,Stallion,THE GOODBYE LANE,Request A Scout,Convoy Scout,Shana Gibson,17.562,21.0,17.391,2,1,1.0,0.0,NaN
23,25.0,PCR Pink Cadillac *PBS,2013.0,Sorrel,Stallion,DASH TA FAME,My Favorite Lane,Lanes Leinster,Edria Day,17.601,43.0,17.846,2,2,1.0,0.0,NaN
37,40.0,VF Highball,2014.0,Gray,Stallion,EDDIE STINSON,High Lois,On A High,Emma Chapman‚ÄêAbbott,17.861,59.0,19.270,2,2,0.0,0.0,NaN
41,44.0,RDC Django Unreined,2014.0,Brown,Stallion,PYC PAINT YOUR WAGON,RC Back In Black,Ninety Nine Goldmine,Jane Melby,18.020,17.0,17.289,2,1,0.0,0.0,NaN
5,6.0,Loose Red Roses,2014.0,Mare,<NA>,BLAZIN JETOLENA,<NA>,<NA>,Jennifer Wilson,17.266,137.0,22.549,1,2,NaN,NaN,164
39,41.0,MJ Fly Bye Lane,2015.0,Mare,<NA>,THE GOODBYE LANE,<NA>,<NA>,Timi Lickley,17.652,172.0,999.000,1,2,NaN,NaN,151
44,46.0,Eddies Midnight Girl,2015.0,Mare,<NA>,EDDIE STINSON,<NA>,<NA>,Kortney Kizer,17.701,51.0,17.672,1,1,NaN,NaN,148
129,135.0,Papagaia,2015.0,Bay G),<NA>,TRES SEIS,<NA>,<NA>,Andre Coelho,22.135,2.0,17.039,2,1,NaN,NaN,35

In [72]:
sexcount = pbf.groupby(['Sex']).sum()
sexdata = pbf.groupby(['Sex']).mean()

In [74]:
sexcount.head()
display(sexdata.head())

,1st Go Place,Age,1st Go,2nd Go Place,2nd Go,1stGoD,2ndGoD,Money_Winner,1D_Money_Winner
Sex,,,,,,,,,
Gelding,85.245714,2014.750000,102.829074,88.857143,119.784434,1.681818,1.715909,0.400000,0.300000
Mare,86.120536,2014.736607,75.918576,83.718750,93.423732,1.745536,1.674107,0.425000,0.225000
Stallion,86.093750,2014.750000,79.816906,78.968750,19.128906,1.750000,1.718750,0.428571,0.142857