Pink Buckle Barrel Racing - Stallion Analysis

Clearly there is some cleaning to be done/ we need to tidy the data, upon inspection of the PDFs there were irregularities in the format results were reported in each year.

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, fnmatch

In [14]:
#Asses data

df = pd.read_csv("PB-Futurity-2019-1st-Go.csv",  header = None) # read in the CSV usign the first 4 rows as header and first col as identifier
df.head(30)

,0,1,2,3,4,5,6,7
0,#,"Horse (Age, Color, Sex)\rSire\rDam, Dam's Sire",Owner / Rider,Breeder,NaN,NaN,NaN,1st Go
1,147,Slick N Black (2014-Black-M)\rSlick By Design\...,"Cayla Small\r\rWilson, OK","Jane and Ryan Melby\rBurneyville, OK",NaN,O,NaN,16.992
2,121,RR TooSlick Eye Mist (2015-Sorrel-G)\rSlick By...,"Robin Weaver\rM a h affey, PA\rEmma Abbot","Robin Weaver\r\rMahaffey, PA",NaN,O,NaN,17.137
3,5,Dash Ta Fire Canyon (2015-Gray-M)\rFirewater C...,"C h a r l ie Kendall\rGlendale, AZ\rRyann...","Charlie Kendall\rGlendale, AZ",NaN,O,NaN,17.146
4,114,Slick Lane Ta Fame (2015-Black-M)\rSlick By De...,"Nancy Adkins\rLiberty, OH\rWill Lear","Mike or Jill Petty\rMerkel, TX",NaN,O,NaN,17.147
5,19,Leos Pretty Woman (2015-Sorrel-M)\rShawne Bug ...,"N i c k elbar Ranch LLC\rSan Angelo, TX\rJ...","Nickelbar Ranch LLC\r\rAbilene, TX",NaN,O,NaN,17.195
6,164,Loose Red Roses (2014-M)\rBlazin Jetolena\rLus...,B a r b a r a L y n c h\rJ a c ...,NaN,NaN,NaN,NaN,17.266
7,49,JR Parker (2014-Chestnut-G)\rThe Goodbye Lane\...,"J & J Atkinson LLC\rMurray, UT\rJill Atkinson","Jill Parker Atkinson\r\rMurray, UT",NaN,O,NaN,17.269
8,131,VF Eddie Bull (2014-Bay-G)\rEddie Stinson\rNat...,"McKenna Davis\rHuntsville, TX\rRyan Reynolds","Victory Farms\rAda, OK",NaN,O,NaN,17.277
9,108,Furys Princess (2014-Chestnut-M)\rFuryofthewin...,"S h e lly Shields\rCochrane, AB\rTaylor Shi...","Flag Ranch LLC\rScottsbluff, NE",NaN,O,NaN,17.282
10,162,One First Class Lady (2015-Sorrel-M)\rBlazin J...,J o r d o n & / o r J u s t i...,"Busby Quarterhorse LLC\r\rMillsap, TX",NaN,O,NaN,17.286
11,107,Streakin Cisco (2014-Bay Roan-G)\rStreakin Boo...,"W a d e L e wis\rH ereford, TX\rAsh...","Joe &/or Carla Spitz\r\rLamar, CO",NaN,O,NaN,17.288
12,160,Im A Slick Guy (2015-Black-S)\rSlick By Design...,D a v i d & / o r E l a i n e...,"Cathy Geary\r\rWadsworth, OH",NaN,O,NaN,17.293
13,25,Simply Slick (2015-Brown-G)\rSlick By Design\r...,"Jason P Eagle\rWard, AR\rKatelyn Mcleod","Jason P Eagle\rWard, AR",NaN,O,NaN,17.322
14,111,A Dynamite Goodbye (2014-Chestnut-M)\rThe Good...,"Kristy Yarrington\r\rCarey, ID","Megan/Bill/Susie Lewis\rTwin Falls, ID",NaN,O,NaN,17.347
15,150,Hiccup (2015-Sorrel-G)\rMP Jet To The Sun\rMis...,"Ceri Ward\r\rWayne, OK","Ceri Ward\rWayne, OK",NaN,O,NaN,17.353
16,81,Secret Ta Goodbye (2014-Chestnut-G)\rThe Goodb...,"Kalena Webb\rWendell, ID","Megan/Bill/Susie Lewis\rTwin Falls, ID",NaN,O,NaN,17.376
17,132,RV Merri Goodbye (2015-Chestnut-M)\rThe Goodby...,"R a n d y or Vauna Walker\rPingree, ID\rVa...","Randy or Vauna Walker\r\rPingree, ID",NaN,O,NaN,17.387
18,135,Too Slick To Wait (2015-Chestnut-M)\rSlick By ...,"C a l v in or Becky Rhodes\rPilot Point, TX...","Calvin or Becky Rhodes\rPilot Point, TX",NaN,O,NaN,17.388
19,97,NDS Fly N Goodbye (2014-Bay-M)\rThe Goodbye La...,"Nathan or Denise Staker\rTaylor, AZ\rTeigan Adams","Nathan or Denise Staker\rTaylor, AZ",NaN,O,NaN,17.389
20,22,Good Grief Girl (2014-Sorrel-M)\rThe Goodbye L...,"Clay Peck\rLehi, UT\rTimi Lickley","Clay Peck\r\rLehi, UT",NaN,O,NaN,17.404
21,43,Mystery In The Winds (2015-Sorrel-M)\rFuryofth...,"Alona James\rAda, OK","Ernest J Sumner\rChecotah, OK",NaN,O,NaN,17.417
22,85,A Wealthy Design (2015-Chestnut-M)\rSlick By D...,"Bob or Tracy Haberlandt\rOkeechobee, FL\rKrist...","Bob or Tracy Haberlandt\rOkeechobee, FL",NaN,O,NaN,17.436
23,70,VF Im That Kinda Gal (2015-Sorrel-M)\rEddie St...,"Victory Farms\rAda, OK\rKelsey Lutjen","Victory Farms\rAda, OK",NaN,O,NaN,17.442
24,18,VF Leo Stinson (2015-Grullo-G)\rEddie Stinson\...,"D elfarms\rB ush, LA\rChris Martin","Victory Farms\r\rAda, OK",NaN,O,NaN,17.454
25,#,"Horse (Age, Color, Sex)\rSire\rDam, Dam's Sire",Owner / Rider,Breeder,NaN,NaN,NaN,1st Go
26,2,Bogie Stinson (2015-Sorrel-G)\rEddie Stinson\r...,"John A & Melissa Wilks\rB o az, AL\rChris Co...","Danny K Carroll\rRaymore, MO",NaN,O,NaN,17.455
27,58,KB Honky Tonk Angel (2015-Brown-M)\rEddie Stin...,"Kay Blandford\rSutherland Springs, TX","Kay Blandford\rSutherland Springs, TX",NaN,O,NaN,17.479
28,78,Meri Me Eddie (2015-Sorrel-G)\rEddie Stinson\r...,"Mark Bugni\rOkemah, OK","Danny K Carroll\rRaymore, MO",NaN,O,NaN,17.481
29,112,MS Tres Perks (2014-Sorrel-M)\rTres Seis\rFanc...,"Karen Krohn\rFt Myeres, FL\rKelsey Lutjen","Guy Rodrigues Peixoto Jr\rFrisco, TX",NaN,O,NaN,17.482

In [15]:
def expandcolumns_goround(file):
    '''
    INPUT string of path to CSV file converted from PDF of go round results from Pink Buckle Futurity
    Futurity result formatting varies slightly year to year. 
    OUTPUT dataframe containing information relative to a stallion's offspring performance
    '''
    df = pd.read_csv(file,  header = None)
    f = file
    fvals = f.split(sep = '.')
    fvals = fvals[0]
    fvals=fvals.split(sep = '-')
    sex_list = ['Gelding','Mare','Stallion','M','G','S']
    sex_dict = {'G)':'Gelding','M)':'Mare','S)':'Stallion', ' M)':'Mare', 'G':'Gelding'}
    if fvals[2] == '2020':
    #break column 2 into its own data frame, then create tidy data by ensuring each type of "observation" has its own column
        col2 = df.iloc[:,1]
        col2 = col2.str.split (pat = '\r',expand = True)
        dds = (col2.iloc[:,3]).str.split(pat=', ',expand = True)
        acs = ((col2.iloc[:,1]).str.split(pat=' ',expand = True))

        col2 = df.iloc[:,1]
        col2 = col2.str.split (pat = '\r',expand = True)
        dds = (col2.iloc[:,3]).str.split(pat=', ',expand = True)
        dds_header = dds.iloc[0]# Save first row for headers
        dds = dds[1:]
        dds.columns = dds_header
        acs = ((col2.iloc[:,1]).str.split(pat=' ',expand = True))
        acs_header = acs.iloc[0]# acs.iloc[0]# Save first row for headers
        acs.columns = acs_header
        acs=acs[1:]
        # remove columns that have been expaned and concatenate dataframes
        col2 = col2.drop(columns = [1,3])
        col2_header = col2.iloc[0]# Save first row for headers
        col2.columns = col2_header
        col2 = col2[1:]
         # expand column 3 in df the same way as 2 but assign header values
        col3 = (df.iloc[:,2]).str.split(pat='\r', expand = True)

        col3_header = ['Owner1','Owner1_location','Owner2','Owner2_location', 'Rider']
        col3.columns = col3_header
        col3=col3[1:]
        col3=col3['Rider']# We are only using this information for the analysis

        #col4 = (df.iloc[:,3]).str.split(pat='\r', expand = True)
       # col4_header = col4.iloc[0]
       # col4.columns = ['Breeder', 'overflow', 'BreederLoc1', 'BreederLoc1', 'overflow2'] #considering adding overflow to the original columns. IDK how that is going to work. 
       # col4=col4[1:]
        #drop the columns that have been expanded & those not used
        df2 = df.drop(columns = [1,2,3,4,5,6,7])
        df2_header = df2.iloc[0] #promote the first row to headers 
        df2= df2[1:]
        df2.columns = df2_header
        df = pd.concat([col2,dds,acs,col3,df2], axis=1)#concatenate the expanded data
        df['Sex'] = np.where(df.iloc[:,7].notnull(), df.iloc[:,7],df['Sex'])#some of the sex information got pushed into another column using the " " as a delimiter. This moves it back
        #Some entrants did not list color and the sex information was stored in the color field
       
        df['Sex']=np.where(df['Color,'].isin(sex_list), df['Color,'], df['Sex'])
        df = df.rename(columns = {'Color,':'Color'})
        df = df.rename(columns = {'Age,':'Age'})

    elif fvals[2] == '2018' :
        col2 = df.iloc[:,1]
        col2 = col2.str.split (pat = '\r',expand = True)
        horse_age_color_sex = col2.iloc[:,0].str.split(pat = '(', expand = True)
        col2 = col2.drop(columns = [0])
        age_color_sex = horse_age_color_sex.iloc[:,1].str.split(pat='‐', expand = True)
        age_color_sex = age_color_sex[1:]
        horse = horse_age_color_sex.drop(columns = 1)
        horse_head = ['Horse']
        horse=horse[1:]
        horse.columns = horse_head
        acs_header = ['Age', 'Color', 'Sex']
        age_color_sex = age_color_sex.drop(columns = 3)
        age_color_sex.columns = acs_header
        #replace any erroneous sex data that is be in the color column
       # age_color_sex['Sex']=np.where(age_color_sex['Color'].isin(sex_list), age_color_sex['Color'], age_color_sex['Sex'])
        sex_dict = {'G)':'Gelding','M)':'Mare','S)':'Stallion', ' M)':'Mare', 'Bay':'Gelding'} # replace abbreviation with word and brute force change one erroneous point of Bay
        age_color_sex = age_color_sex.replace(to_replace = sex_dict)
        col2_header = col2.iloc[0]# Save first row for headers
        col2.columns = col2_header
        col2 = col2[1:]
       
        col3 = (df.iloc[:,3]).str.split(pat='\r', expand = True)
        col3=col3.drop(columns = 1)
        col3_header = ['Rider']
        col3.columns = col3_header
        col3=col3[1:]
        df2 = df.drop(columns = [1,2,3,4,5,6,])
        df2_header = df2.iloc[0] #promote the first row to headers 
        df2= df2[1:]
        df2.columns = df2_header
        df = pd.concat([horse,age_color_sex,col2,col3,df2], axis=1)#concatenate the expanded data
    else:
        col2 = df.iloc[:,1]# remove the second column to expand
        col2 = col2.str.split(pat = '\r',expand = True)
        dds = col2[2].str.split(pat = ',',expand = True) # split dam and dams sire into separate columns
        dds_header = dds.iloc[0]# Save first row for headers
        dds=dds[1:]
        dds.columns = dds_header
        horse_age_color_sex = col2.iloc[:,0].str.split(pat = '(', expand = True)
        col2 = col2.drop(columns = [0,2])
        horse = horse_age_color_sex.drop(columns = 1)
        horse_head = ['Horse']
        horse=horse[1:]
        horse.columns = horse_head
        age_color_sex = horse_age_color_sex[1]#further break up column 2
        age_color_sex = age_color_sex.str.split(pat='-', expand = True)
        age_color_sex = age_color_sex[1:]
        acs_header = ['Age', 'Color', 'Sex']
        age_color_sex.columns = acs_header
        #replace any erroneous sex data that is be in the color column
        age_color_sex['Sex']=np.where(age_color_sex['Color'].isin(sex_list), age_color_sex['Color'], age_color_sex['Sex'])
      
        age_color_sex = age_color_sex.replace(to_replace = sex_dict)
        
        col2_header = col2.iloc[0]
        col2.columns = col2_header
        col2 = col2[1:]
        col3 = (df.iloc[:,2]).str.split(pat='\r', expand = True) # Expand column 3
        col3_header = ['Rider']
        # rider information was stored in the owner column in 2019 if the owner rode the horse, moving to the rider column
        col3[2] = np.where(col3.iloc[:,2].str.contains(pat = ','), col3.iloc[:,0],col3[2]) #moves owner to rider column if address carried over
        col3[2] = np.where(col3.iloc[:,2].isnull(), col3.iloc[:,0],col3[2]) #moves owner to rider column if there is no data in rider column
        
        col3 = col3.drop(columns = [0,1])
        col3.columns = col3_header
        col3=col3[1:]        
        df2 = df.drop(columns = [1,2,3,4,5,6,])
        df2_header = df2.iloc[0] #promote the first row to headers 
        df2= df2[1:]
        df2.columns = df2_header
        df = pd.concat([horse,age_color_sex,col2,col3,df2], axis=1)#concatenate the expanded data
   
    #remove header information carried over from converting each pafe of PDF files to CSV
    df.drop(df.loc[df['Sire']=='Sire'].index, inplace=True)
    # reset the index then rename index as the round results for that file
    df.reset_index(inplace=True)
       #rename index from 
    f = file
    fvals = f.split(sep = '.')
    fvals = fvals[0]
    fvals=fvals.split(sep = '-')
    indexstring = ' '.join(fvals[3:])
    indexstring = indexstring + ' Place'
    df = df.rename(columns = {'index':indexstring})

    return df

Import all data throg

In [16]:
go1_18 = expandcolumns_goround('PB-Futurity-2018-1st-Go.csv').drop(columns = ['#'])
go2_18 = expandcolumns_goround('PB-Futurity-2018-2nd-Go.csv').drop(columns = ['#'])
pbf_18 = pd.merge(go1_18,go2_18, how = "outer")
#am = pd.merge(go1_18_am,go2_18_am)
#pbf_18=pd.merge(pbf_18, am,how= "outer")
#Eddie S nson is not a unique sire... Lets change that back to Eddie StinJson
replace = {'Eddie S nson':'Eddie Stinson','BHR Frenchie Socks':'BHR Frenchies Socks'}

pbf_18.replace(to_replace = replace, inplace = True)
#change time, placing and year to integers
pbf_18 = pbf_18.astype({'Horse' : 'string', 'Age':'float64', 'Color' : 'string', 'Sex' : 'string', 'Sire' : 'string', 'Dam' : 'string',
       "Dam's Sire":'string', 'Rider' : 'string', '1st Go': 'float64', '2nd Go': 'float64'})
pbf_18['Sire'].str.title()
pbf_18

,1st Go Place,Horse,Age,Color,Sex,Sire,Dam,Dam's Sire,Rider,1st Go,2nd Go Place,2nd Go
0,1.0,French Goodbye,2014.0,Palomino,Gelding,The Goodbye Lane,Two Fools Gold,Frenchmans Guy,Vauna Walker,16.567,5.0,16.936
1,2.0,Jets Letters Ta Abby,2014.0,Sorrel,Gelding,Blazin Jetolena,Real Famous Abby,Dash Ta Fame,Ashley Schafer,16.845,7.0,16.997
2,3.0,Hes Furious,2014.0,Gelding,Gelding,The Goodbye Lane,Furyx,Calyx,Timi Lickley,16.988,8.0,16.998
3,4.0,Jets Heart N Soul,2014.0,Chestnut,Gelding,Blazin Jetolena,Mistys Dash of Fame,Dash Ta Fame,Jolene Montgomery,16.988,2.0,16.818
4,5.0,Our First Goodbye,2013.0,Brown,Mare,The Goodbye Lane,Jesse James Agent,Jesse James Jr,Marcie Wilson,17.005,66.0,22.455
...,...,...,...,...,...,...,...,...,...,...,...,...
72,77.0,Patches O Houlihan,2013.0,Gelding,Mare,PC Redwood Manny,Patchs April Gem,Tiny Patch,Kelsey Hayden,30.174,52.0,18.380
73,78.0,HP Dash Ta Fiesta *PBS,2013.0,Sorrel,Stallion,Dash Ta Fame,Firewater Fiesta,Fire Water Flit,Ryann Pedone,999.000,30.0,17.459
74,79.0,Dats A Gin Fizz,2013.0,Chestnut,Mare,Dats A Frenchman,Regal Ginnie,Regal Legacy,Kelli Barichello,999.000,79.0,999.000
75,80.0,Flit To Be Famous,2014.0,Sorrel,Gelding,Eddie Stinson,Pepoleo Flit,Fire Water Flit,Chelsea Jepperson,999.000,80.0,999.000
76,NaN,Justa Kool Guy,2014.0,Sorrel,Gelding,BHR Frenchies Socks,Justa Sexy Woman,Dashin Is Easy,Emilee Jackson,NaN,42.0,17.818

In [17]:
go1_19 = expandcolumns_goround('PB-Futurity-2019-1st-Go.csv')
go2_19 = expandcolumns_goround('PB-Futurity-2019-2nd-Go.csv').drop(columns = ['Horse', 'Age', 'Color', 'Sex', 'Sire', 'Rider'])


pbf_19 = pd.merge(go1_19,go2_19, how ="outer")

pbf_19.dtypes
#change time, placing and year to integers
pbf_19 = pbf_19.astype({'Horse' : 'string', 'Age':'int64', 'Color' : 'string', 'Sex' : 'string', 'Sire' : 'string',
        'Rider' : 'string', '1st Go': 'float64', '2nd Go': 'float64'})

In [18]:
go1_20 = expandcolumns_goround('PB-Futurity-2020-1st-Go.csv')
go2_20 = expandcolumns_goround('PB-Futurity-2020-2nd-Go.csv').drop(columns = ['Horse', 'Age', 'Color', 'Sex','Rider', 'Sire', 'Dam', "Dam's Sire"])
pbf_20 = pd.merge(go1_20,go2_20, on ='#').drop(columns = ['None_x','None_y'])
#change time, placing and year to integers
pbf_20 = pbf_20.astype({'Horse' : 'string', 'Age':'float64', 'Color' : 'string', 'Sex' : 'string', 'Sire' : 'string', 'Dam' : 'string',
       "Dam's Sire":'string', 'Rider' : 'string', '1st Go': 'float64', '2nd Go': 'float64'})

print(pbf_18.Horse.value_counts())
print (pbf_18.Sex.value_counts())

#Determine which sires had offspring in the futurity, and the number of entries. 
sire_18 = pbf_18.Sire.value_counts()
sire_19 = pbf_19.Sire.value_counts()
sire_20 = pbf_20.Sire.value_counts()
print (sire_18)
print(sire_19)
print(sire_20)

# plot 1 
plt.subplot(3,1,1)
sire_18.plot(kind="bar", color="C6")
plt.title("2018 Number of Futurity Entries per sire")
#plot 2 sire
plt.subplot(3,1,2)
sire_19.plot(kind="bar", color="C6")
plt.title("2019 Number of Futurity Entries per sire")
#plot 3
plt.subplot(3,1,3)
sire_20.plot(kind="bar", color="C6")
plt.title("2020 Number of Futurity Entries per sire")

df = pbf_20
df['Rider'].value_counts()

sex = df.Sex.value_counts()
sex.plot(kind="pie"), plt.title("Entrants Sex Breakdown")
#fig.savefig(”my-first-figure.png”, dpi=300)

In [36]:
'''Payouts are based on Divisions which are a set time period off the fastest time.  This is called a D.  
We will assign a D to each horse per run for each year.  Later this will be helpful to see if any particular sire's offspring
are more likely to be in any particular division, we will also allocate the first 20 horses in both Ds as money winners per the curtent payout format'''

def AssignDs(df, colstring1, new_col_name):
    '''
    assign D's based on division split, and give the first 20 horses in each D the status of "Money Winner"
    Input: df = Dataframe, 
    colstring1 = String - the time column on the data frame to be placing D's in.
    new_col_name = String - the column name the Ds will be placed in
    output: adds column placeing horse in 1D or 2D
    '''
    D_split = 0.75 # D split for the PB futurity and Derby
    df[new_col_name]= np.where(df[colstring1] > (df[colstring1].min()+D_split), 2, 1)
    
    place_col_name = colstring1 +' Place' #create a value to pull the money winners by placing
    df['Money_Winner'] = np.where(df[place_col_name]<= 20, 1,0) #calls out money winners in 1D
    df.sort_values(colstring1, inplace = True) #sort so we can call the 2D $ winner index  
    two_d = df[df[new_col_name] > 1].index[0] #get the next 20 places, 
    df.iloc[two_d:(two_d+19),df.columns.get_loc('Money_Winner')] = 1 #assign 1 for money winner
    return df

In [37]:
pbf_18 = AssignDs(pbf_18, '1st Go', '1stGoD')
pbf_19 = AssignDs(pbf_19, '1st Go', '1stGoD')
pbf_20 = AssignDs(pbf_20, '1st Go', '1stGoD')
pbf_18 = AssignDs(pbf_18, '2nd Go', '2ndGoD')
pbf_19 = AssignDs(pbf_19, '2nd Go', '2ndGoD')
pbf_20 = AssignDs(pbf_20, '2nd Go', '2ndGoD')

In [43]:
#Concatenate all 3 years results into one dataframe
pbf = pd.concat([pbf_18, pbf_19,pbf_20])
pbf['Sire'] = pbf['Sire'].str.upper() # move all words to upper case to join with 2021 stud fee info from Qstallions.com

display(pbf.head())
display(pbf.columns)

,1st Go Place,Horse,Age,Color,Sex,Sire,Dam,Dam's Sire,Rider,1st Go,2nd Go Place,2nd Go,1stGoD,Money_Winner,2ndGoD,#
59,63.0,Tee It Up In My Sox,2014.0,Chestnut,Mare,BHR FRENCHIES SOCKS,BA Tee It Up Ta Fame,Tee It Up In My Sox,Lacey Harmon,22.229,1.0,16.779,2,1,1,NaN
3,4.0,Jets Heart N Soul,2014.0,Chestnut,Gelding,BLAZIN JETOLENA,Mistys Dash of Fame,Dash Ta Fame,Jolene Montgomery,16.988,2.0,16.818,1,1,1,NaN
5,6.0,High Cotton Lane,2014.0,Chestnut,Stallion,THE GOODBYE LANE,HMB Soon Tobe Famous,Dash Ta Fame,Paige Jones,17.021,3.0,16.829,1,1,1,NaN
12,13.0,Smooth Movin Guy,2014.0,Buckskin,Gelding,A SMOOTH GUY,Full A Irish Whiskey,Paddys Irish Whiskey,Dustin Angelle,17.305,4.0,16.838,1,1,1,NaN
0,1.0,French Goodbye,2014.0,Palomino,Gelding,THE GOODBYE LANE,Two Fools Gold,Frenchmans Guy,Vauna Walker,16.567,5.0,16.936,1,1,1,NaN

Index(['1st Go Place', 'Horse', 'Age', 'Color', 'Sex', 'Sire', 'Dam',
       'Dam's Sire', 'Rider', '1st Go', '2nd Go Place', '2nd Go', '1stGoD',
       'Money_Winner', '2ndGoD', '#'],
      dtype='object')

In [48]:
#Group by Sex
df =  pbf.pivot_table(
    index = ['Sex', 'Horse'],
    values = ['1st Go','2nd Go','1st Go Place', '2nd Go Place','1stGoD','2ndGoD','Money_Winner'] 
)
df.head()

                               1st Go  1st Go Place  1stGoD   2nd Go  \
Sex     Horse
Gelding A Signaturefirewater   18.299         115.0     2.0   17.873
        A Smart Guy            17.446          30.0     1.0   17.495
        A Smooth Flit          18.495         126.0     2.0   23.143
        A Smooth Ninja        999.000         197.0     2.0  999.000
        A Very Lucky Guy       18.431         123.0     2.0   18.424

                              2nd Go Place  2ndGoD  Money_Winner
Sex     Horse
Gelding A Signaturefirewater          71.0     2.0             0
        A Smart Guy                   25.0     1.0             0
        A Smooth Flit                168.0     2.0             1
        A Smooth Ninja               195.0     2.0             0
        A Very Lucky Guy             123.0     2.0             0

In [ ]:
df = pbf.pivot_table(
    index = ['Sire','Horse'],
    values = ['1st Go','2nd Go','1st Go Place', '2nd Go Place','1stGoD','2ndGoD','Money_Winner'] 
)


df['1D Horse']=(df[df == 1].sum(axis = 1)) #assigns a value of 1 for each run a horse had <.75 seconds off the fastest time in their year

#df18 = bf_18.groupby(by = ['Sire']).mean()
#pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=[np.mean,len])
#'

'''Tipped barrels were considered no time at this event and assigned a time of 999.00 for the round. 
Including this in the average will unfairly weight the times in favor of those whose offspring did not tip a barrel.
This should not fault the horse as it could easily be rider error.  Being the results have no way of indicating a horse did not make a run 
and took a no time or if they tipped all 3 barrels, no times were not included in the average. 
    '''
    
df['Tipped'] = (df[df == 999.000].sum(axis = 1))

df.replace(to_replace = {'Tipped': {999.0 : 1, 1998.0 : 2}}, inplace = True)
tipcount = df.groupby(['Sire']).sum()
oneDcount = df.groupby(['Sire'])




(df.replace(to_replace =  {999.0 :np.nan}, inplace = True)) #remove 999.00 to become nan so they aren't included in the average time
df = df.dropna(subset=['1st Go', '2nd Go']) #remove any horse that had no time for both go's

siredata['total_offspring'] = df.groupby(['Sire']).size()

siredata.head(30)

import matplotlib.cm as cm

x = df['1st Go']
y = df['2nd Go']
#colors = cm.nipy_spectral(df['Sires'])
plt.scatter(x, y,) 
plt.show()

In [ ]:
#move totals to the dataframe of average times
siredata['Total_no-times'] = tipcount['Tipped']
siredata['1D Horse'] = tipcount['1D Horse']
siredata['Money_Winner'] = tipcount['Money_Winner']
#siredata['Remove tipped'] = 
siredata.head(50)
siredata['Adj Average_Time'] = ((df.groupby(['Sire']).mean()).loc[:,['1st Go','2nd Go']]).sum(axis = 1) #caluclates the sum of the (average 1st Go and second go for all offspring 
siredata['Adj Average_placing'] = ((df.groupby(['Sire']).mean()).loc[:,['1st Go Place','2nd Go Place']]).mean(axis = 1)

siredata['Average_Time'] = (siredata.loc[:,['1st Go','2nd Go']]).sum(axis = 1) #caluclates the sum of the (average 1st Go and second go for all offspring 
siredata.rename(columns = {'Tipped':'Normalized_penalties'}, inplace = True)
siredata['Average_placing'] = (siredata.loc[:,['1st Go Place','2nd Go Place']]).mean(axis = 1)
siredata.sort_values(by = ['Adj Average_Time', 'Total_no-times'] ,ascending=True, inplace=True)

#siredata['No-time runs (%)'].multiply(100, axis = 1)
#filter out tipped barrels & replace with an average.  Then view data
siredata['pct1D']= 100*(siredata['1D Horse']/siredata['total_offspring'])
siredata['pctMoneyWinners'] = 100*(siredata['Money_Winner']/siredata['total_offspring'])
siredata

Now lets read in the stud fees,  and see if there is any correlation to the placings.  We will also eliminate any sires whose offspring from the 2021 breeding season are no longer eligible for the competition.

In [ ]:
df_sires = pd.read_csv('PB_Sires_2021_Fees.csv')
sire_fees=df_sires.iloc[:,[0,5]] #drop columns with information that are not to be used in our anaylisis
df2 = pd.merge(siredata, sire_fees, on = 'Sire', how = 'outer')
df2.columns

In [ ]:
df2 = df2.drop(columns = (['1st Go', '1st Go Place', '1stGoD', '2nd Go', '2nd Go Place',
       '2ndGoD']))

In [ ]:
#display(df2)
no_entries = (df2['1D Horse'].isna()).sum() # count the number of 2021 sires who have had not had offspring compete
no_entries
ineligible = (df2['Fee'].isna()).sum()
print('{} Sires have not had any offspring run in the Futurity, {} sires are no longer eligible as of the 2021 breeding season'.format(no_entries, ineligible))
df2.head(62)

In [ ]:
df2 = df2.dropna(subset=['Fee', '1D Horse'])
df2.shape

In [ ]:
df2.sort_values(by = ['total_offspring'],ascending=False)
df2.sort_values(by = ['pct1D'],ascending=False)

df2.sort_values(by = ['Adj Average_placing'],ascending=True)

In [ ]:
df2.shape

In [ ]:
#create plots of avg time by sire (box)

In [ ]:
df3 = pbf.groupby('Sex')
df3.head()

In [ ]:
sexcount = pbf.groupby(['Sex']).sum()
sexdata = pbf.groupby(['Sex']).mean()

In [ ]:
sexcount.head()
display(sexdata.head())